@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@font-face {
  font-family: 'matter';
  font-weight: 300;
  src: url('/fonts/Matter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'matter';
  font-weight: 400;
  src: url('/fonts/Matter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'matter';
  font-weight: 500;
  src: url('/fonts/Matter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'matter';
  font-weight: 600;
  src: url('/fonts/Matter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'matter';
  font-weight: 700;
  src: url('/fonts/Matter-Bold.ttf') format('truetype');
}

.lightf {
  font-family: 'matter';
  font-weight: 300;
}

.regularf {
  font-family: 'matter';
  font-weight: 400;
}

.mediumf {
  font-family: 'matter';
  font-weight: 500;
}

.semiBoldf {
  font-family: 'matter';
  font-weight: 600;
}

.boldf {
  font-family: 'matter';
  font-weight: 700;
}

.header {
  @apply font-medium text-3xl md:text-5xl text-center md:w-[700px] mx-auto
}
.subHeading {
  @apply font-normal mt-6 text-center mx-auto
}
.card {
  @apply bg-white rounded-xl p-5
}
.roundText {
  @apply bg-white px-[28px] py-[12px] text-[18px] rounded-full
}
.cardFlex {
  @apply mt-10 flex flex-wrap gap-10 justify-center
}